<a href="https://colab.research.google.com/github/neerajthandayan/CourseProject/blob/main/Crime_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Crime Data Processing

## Importing Libraries and Arrest Dataset

In [1]:
# Importing Libraries

import pandas as pd
import numpy as np

In [2]:
# Fetching 2011 Stop and Search Data for Analysis
# Source: https://www.gov.uk/government/statistics/tables-police-powers-and-procedures-england-and-wales-2010-to-2011

!wget 'https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/115724/stops-searches-1011-tabs.xls'

--2021-04-17 16:24:07--  https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/115724/stops-searches-1011-tabs.xls
Resolving assets.publishing.service.gov.uk (assets.publishing.service.gov.uk)... 151.101.0.144, 151.101.64.144, 151.101.128.144, ...
Connecting to assets.publishing.service.gov.uk (assets.publishing.service.gov.uk)|151.101.0.144|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 360448 (352K) [application/vnd.ms-excel]
Saving to: ‘stops-searches-1011-tabs.xls.6’

stops-searches-1011 100%[===================>] 352.00K  --.-KB/s    in 0.03s

2021-04-17 16:24:08 (10.7 MB/s) - ‘stops-searches-1011-tabs.xls.6’ saved [360448/360448]

In [3]:
df1 = pd.read_excel('stops-searches-1011-tabs.xls', sheet_name='SS.12', header=5)

In [4]:
df1.head(5)

   Police force area    White  ...  Vehicle only search    Total
0                NaN      NaN  ...                  NaN      NaN
1          Cleveland  28748.0  ...                188.0  30469.0
2             Durham   4826.0  ...                 49.0   4984.0
3        Northumbria  42143.0  ...                  0.0  43471.0
4  North East Region  75717.0  ...                237.0  78924.0

[5 rows x 9 columns]

In [5]:
# Dropping uncessary columns
# Here, the Not stated columsn is dropped as ethinicity unclear

df1.drop(columns=['Vehicle only search','Total','Not \nstated'], inplace=True)
df1.dropna(inplace=True)
df1.columns = ['Geogrpahy','SS_White','SS_Black','SS_Asian','SS_Other','SS_Mixed']
df1.reset_index(inplace=True, drop=True)

In [6]:
df1

                          Geogrpahy  SS_White  ...  SS_Other  SS_Mixed
0                         Cleveland   28748.0  ...     150.0     136.0
1                            Durham    4826.0  ...      10.0      14.0
2                       Northumbria   42143.0  ...      49.0     114.0
3                 North East Region   75717.0  ...     209.0     264.0
4                          Cheshire    5690.0  ...      78.0      48.0
5                           Cumbria    9608.0  ...      11.0      31.0
6                Greater Manchester   37506.0  ...     550.0    1508.0
7                        Lancashire   22538.0  ...      88.0     290.0
8                        Merseyside   40181.0  ...     237.0     497.0
9                 North West Region  115523.0  ...     964.0    2374.0
10                       Humberside    8518.0  ...      50.0      96.0
11                  North Yorkshire    5402.0  ...      12.0      27.0
12                  South Yorkshire   20015.0  ...      33.0     477.0
13                   West Yorkshire   21979.0  ...     125.0     922.0
14  Yorkshire and the Humber Region   55914.0  ...     220.0    1522.0
15                       Derbyshire   10157.0  ...      26.0     285.0
16                   Leicestershire   15604.0  ...      57.0     868.0
17                     Lincolnshire    9392.0  ...       5.0      75.0
18                 Northamptonshire   10997.0  ...      58.0     339.0
19                  Nottinghamshire    3396.0  ...      17.0     207.0
20             East Midlands Region   49546.0  ...     163.0    1774.0
21                    Staffordshire   10040.0  ...      24.0     209.0
22                     Warwickshire    4411.0  ...      16.0     211.0
23                      West Mercia    9530.0  ...      10.0     240.0
24                    West Midlands   10116.0  ...     226.0     868.0
25             West Midlands Region   34097.0  ...     276.0    1528.0
26                     Bedfordshire    5778.0  ...      53.0     397.0
27                   Cambridgeshire   11344.0  ...      75.0     337.0
28                            Essex    5034.0  ...      36.0     186.0
29                    Hertfordshire    8276.0  ...     234.0     464.0
30                          Norfolk   14529.0  ...      35.0     183.0
31                          Suffolk    3061.0  ...       8.0     112.0
32           East of England Region   48022.0  ...     441.0    1679.0
33                  London, City of    2051.0  ...      37.0     168.0
34              Metropolitan Police  228398.0  ...   13261.0   19734.0
35                    London Region  230449.0  ...   13298.0   19902.0
36                        Hampshire   23480.0  ...     148.0     566.0
37                             Kent   10554.0  ...      85.0     186.0
38                           Surrey   11559.0  ...     104.0     332.0
39                           Sussex   18275.0  ...      94.0     400.0
40                    Thames Valley   30072.0  ...     261.0    1773.0
41                South East Region   93940.0  ...     692.0    3257.0
42                Avon and Somerset   13175.0  ...      34.0     444.0
43               Devon and Cornwall   19016.0  ...      32.0     166.0
44                           Dorset    6238.0  ...      20.0      98.0
45                  Gloucestershire    3952.0  ...      28.0     145.0
46                        Wiltshire    4826.0  ...      56.0     115.0
47                South West Region   47207.0  ...     170.0     968.0
48                          ENGLAND  750415.0  ...   16433.0   33268.0
49                      Dyfed-Powys   13962.0  ...      36.0      79.0
50                            Gwent    7270.0  ...      46.0     107.0
51                      North Wales    5912.0  ...      63.0      28.0
52                      South Wales   12775.0  ...      47.0     199.0
53                            WALES   39919.0  ...     192.0     413.0
54         British Transport Police   11312.0  ...     200.0     639.0
55                ENGLAND AND WALES  801646.0  ...   16825.0   34320.0

[56 rows x 6 columns]

In [7]:
# Calculating Total Stop and Search Incidents

df1['SS_Total'] = df1.iloc[:,1:].sum(axis=1)