<a href="https://colab.research.google.com/github/neerajthandayan/CourseProject/blob/main/Crime_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Crime Data Processing

## Importing Libraries and Datasets

In [1]:
# Importing Libraries

import pandas as pd
import numpy as np

###### Stop and Search Data 2011
###### This data has been choosen to match the ethnic population data retrieved from Cesus 2011

In [2]:
# Fetching 2011 Stop and Search Data for Analysis
# Source: https://www.gov.uk/government/statistics/tables-police-powers-and-procedures-england-and-wales-2010-to-2011

!wget 'https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/115724/stops-searches-1011-tabs.xls'

--2021-04-17 17:16:09--  https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/115724/stops-searches-1011-tabs.xls
Resolving assets.publishing.service.gov.uk (assets.publishing.service.gov.uk)... 151.101.0.144, 151.101.64.144, 151.101.128.144, ...
Connecting to assets.publishing.service.gov.uk (assets.publishing.service.gov.uk)|151.101.0.144|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 360448 (352K) [application/vnd.ms-excel]
Saving to: ‘stops-searches-1011-tabs.xls.13’

stops-searches-1011 100%[===================>] 352.00K  --.-KB/s    in 0.03s

2021-04-17 17:16:09 (10.6 MB/s) - ‘stops-searches-1011-tabs.xls.13’ saved [360448/360448]

In [3]:
SS = pd.read_excel('stops-searches-1011-tabs.xls', sheet_name='SS.12', header=5)
SS.head(5)

   Police force area    White  ...  Vehicle only search    Total
0                NaN      NaN  ...                  NaN      NaN
1          Cleveland  28748.0  ...                188.0  30469.0
2             Durham   4826.0  ...                 49.0   4984.0
3        Northumbria  42143.0  ...                  0.0  43471.0
4  North East Region  75717.0  ...                237.0  78924.0

[5 rows x 9 columns]

In [4]:
# Dropping uncessary columns
# Here, the Not stated columsn is dropped as ethinicity unclear

SS.drop(columns=['Vehicle only search','Total','Not \nstated'], inplace=True)
SS.dropna(inplace=True)
SS.columns = ['Geography','SS_White','SS_Black','SS_Asian','SS_Other','SS_Mixed']
SS.reset_index(inplace=True, drop=True)
SS.head(5)

           Geography  SS_White  SS_Black  SS_Asian  SS_Other  SS_Mixed
0          Cleveland   28748.0     227.0     605.0     150.0     136.0
1             Durham    4826.0      15.0      15.0      10.0      14.0
2        Northumbria   42143.0     189.0     864.0      49.0     114.0
3  North East Region   75717.0     431.0    1484.0     209.0     264.0
4           Cheshire    5690.0      64.0      62.0      78.0      48.0

###### Arrest Data from 2011

In [5]:
# Fetching 2011 Arrest Data for Analysis
# Source: https://www.gov.uk/government/statistics/tables-police-powers-and-procedures-england-and-wales-2010-to-2011

!wget 'https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/115722/arrests-1011-tabs.xls'

--2021-04-17 17:16:10--  https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/115722/arrests-1011-tabs.xls
Resolving assets.publishing.service.gov.uk (assets.publishing.service.gov.uk)... 151.101.0.144, 151.101.64.144, 151.101.128.144, ...
Connecting to assets.publishing.service.gov.uk (assets.publishing.service.gov.uk)|151.101.0.144|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 366080 (358K) [application/vnd.ms-excel]
Saving to: ‘arrests-1011-tabs.xls.6’

arrests-1011-tabs.x 100%[===================>] 357.50K  --.-KB/s    in 0.03s

2021-04-17 17:16:10 (10.0 MB/s) - ‘arrests-1011-tabs.xls.6’ saved [366080/366080]

In [6]:
# Data laod and Pre-processing

AR = pd.read_excel('arrests-1011-tabs.xls.1', sheet_name='A.11', header=7)
AR = pd.concat([AR.iloc[:,0],AR.iloc[:67,18:]], axis=1) 
AR = AR.iloc[:,[0,1,3,5,7,9]]
AR = AR.dropna()
AR = AR.reset_index(drop=True)
AR.columns = ['Geography','AR_White','AR_Black','AR_Asian','AR_Mixed','AR_Other']
AR = AR[['Geography','AR_White','AR_Black','AR_Asian','AR_Other','AR_Mixed']]
AR.head(5)

           Geography AR_White AR_Black AR_Asian AR_Other AR_Mixed
0          Cleveland    21336      236      545      139      197
1             Durham    19282       84      159       70      134
2        Northumbria    46613      431      958      125      227
3  North East Region    87231      751     1662      334      558
4           Cheshire    17405      281      250      124      139

##### Merging Stop & Search, Arrests and Population Data to Creat Master Datatset

In [7]:
# Retrieving popultion data from prpject Repo

pop = pd.read_csv('https://raw.githubusercontent.com/neerajthandayan/CourseProject/main/pop_data.csv')
pop.drop(columns='Unnamed: 0', inplace=True)
pop.head(5)

           Geography    White  Black  Asian  Other  Mixed
0  Avon and Somerset  1491970  30923  33005  15380  28277
1       Bedfordshire   476647  29725  81480   8753  18456
2     Cambridgeshire   726531  10174  39535  12572  16029
3           Cheshire   995998   3264  12794   5230  10423
4          Cleveland   526456   3156  17419   4434   5762

In [8]:
# Merging dataset

master = pop.merge(SS.merge(AR, on='Geography'), on='Geography')
master

              Geography    White    Black  ...  AR_Asian  AR_Other  AR_Mixed
0     Avon and Somerset  1491970    30923  ...       702       204      1034
1          Bedfordshire   476647    29725  ...      1943       172       811
2        Cambridgeshire   726531    10174  ...       899       139       595
3              Cheshire   995998     3264  ...       250       124       139
4             Cleveland   526456     3156  ...       545       139       197
5               Cumbria   492257      579  ...        52        24        30
6            Derbyshire   949845    10090  ...      1020       208       559
7    Devon and Cornwall  1627306     4106  ...       231       110       288
8                Dorset   714637     3208  ...       158        93       241
9                Durham   605364     1058  ...       159        70       134
10          Dyfed-Powys   504714      856  ...        52        32        23
11                Essex  1608308    34679  ...       936       330       916
12      Gloucestershire   569647     5150  ...       189        95       305
13   Greater Manchester  2248123    74097  ...      5035       755      2458
14                Gwent   554377     3185  ...       443        90       190
15            Hampshire  1771378    17445  ...       908       437       763
16        Hertfordshire   977495    31401  ...       951       215       880
17           Humberside   885279     4499  ...       430       196       238
18                 Kent  1607681    22879  ...       987       857       500
19           Lancashire  1320035     5377  ...      2071        64       794
20       Leicestershire   797704    24623  ...      2583       258       699
21         Lincolnshire   696484     2561  ...       195       284       225
22           Merseyside  1305303    14552  ...       395       547       544
23  Metropolitan Police  4881636  1088447  ...     31509      9566     14920
24              Norfolk   828018     4609  ...       156       101       221
25          North Wales   670704     1497  ...        85        81        59
26      North Yorkshire   769206     3618  ...       147       186        27
27     Northamptonshire   632822    16923  ...       498       110       399
28          Northumbria  1343747     9006  ...       958       125       227
29      Nottinghamshire   969501    27287  ...      1391       261      1509
30          South Wales  1198458    12738  ...       625       337       466
31      South Yorkshire  1217653    25752  ...      1229       378       394
32        Staffordshire  1032327     8551  ...      1096       188       598
33              Suffolk   693195     6854  ...       214       121       410
34               Surrey  1023682    12430  ...       571       141       256
35               Sussex  1505433    14246  ...      1026       328       874
36         Warwickshire   505688     4443  ...       350        50       284
37          West Mercia  1176516     5062  ...       729       119       348
38        West Midlands  1919138   164069  ...      6251       887      2290
39       West Yorkshire  1819818    46476  ...      6378       525      2287
40            Wiltshire   642869     6089  ...       200        68       286

[41 rows x 16 columns]