<a href="https://colab.research.google.com/github/neerajthandayan/CourseProject/blob/main/Crime_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Crime Data Processing

## Importing Libraries and Arrest Dataset

In [1]:
# Importing Libraries

import pandas as pd
import numpy as np

In [2]:
!wget 'https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/929083/arrest-police-powers-procedures-mar20-tables.ods'

--2021-04-14 16:36:30--  https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/929083/arrest-police-powers-procedures-mar20-tables.ods
Resolving assets.publishing.service.gov.uk (assets.publishing.service.gov.uk)... 151.101.0.144, 151.101.64.144, 151.101.128.144, ...
Connecting to assets.publishing.service.gov.uk (assets.publishing.service.gov.uk)|151.101.0.144|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 62702 (61K) [application/vnd.oasis.opendocument.spreadsheet]
Saving to: ‘arrest-police-powers-procedures-mar20-tables.ods.1’

arrest-police-power 100%[===================>]  61.23K  --.-KB/s    in 0.01s

2021-04-14 16:36:30 (4.11 MB/s) - ‘arrest-police-powers-procedures-mar20-tables.ods.1’ saved [62702/62702]

In [3]:
!pip install 'odfpy'

Requirement already satisfied: odfpy in /usr/local/lib/python3.7/dist-packages (1.4.1)
Requirement already satisfied: defusedxml in /usr/local/lib/python3.7/dist-packages (from odfpy) (0.7.1)

In [13]:
df1 = pd.read_excel('arrest-police-powers-procedures-mar20-tables.ods', sheet_name='A_08', header=3 ,engine='odf')

In [14]:
# Dropping uncessary columns
# Here, the Not stated columsn is dropped as ethinicity unclear

df1.drop(columns=['Geocode','Total','Not stated'], inplace=True)
df1.dropna(inplace=True)
df1.rename(columns={'Police Force Area':'Geography'}, inplace=True)

In [15]:
# Dropping 'Greater Manchester' due to missing data
# Futher Cummilative rows (such 'ENGLAND' & "ENGLAND & WALES") will be dropped when merging to Ethinic Diversity Data 

df1.drop(df1.index[df1['Geography'] == 'Greater Manchester'].tolist(), inplace=True)
df1.reset_index(inplace=True, drop=True)

In [16]:
df1['Total'] = df1.iloc[:,1:].sum(axis=1)

In [24]:
df1['NonWhiteTot'] = df1.iloc[:,2:-1].sum(axis=1)

In [25]:
df1

                          Geography   White  ...     Total NonWhiteTot
0                         Cleveland    9581  ...   10292.0       711.0
1                            Durham    7222  ...    7469.0       247.0
2                       Northumbria   19599  ...   20658.0      1059.0
3                 North East Region   36402  ...   38419.0      2017.0
4                          Cheshire    9166  ...    9770.0       604.0
5                           Cumbria    6691  ...    6904.0       213.0
6                        Lancashire    4046  ...    4551.0       505.0
7                        Merseyside   16382  ...   17763.0      1381.0
8                 North West Region   36285  ...   38988.0      2703.0
9                        Humberside    7500  ...    7932.0       432.0
10                  North Yorkshire    8240  ...    8672.0       432.0
11                  South Yorkshire   13846  ...   16147.0      2301.0
12                   West Yorkshire   24492  ...   32637.0      8145.0
13  Yorkshire and the Humber Region   54078  ...   65388.0     11310.0
14                       Derbyshire    8485  ...   10033.0      1548.0
15                   Leicestershire    8283  ...   11492.0      3209.0
16                     Lincolnshire    7373  ...    7913.0       540.0
17                 Northamptonshire    6463  ...    7888.0      1425.0
18                  Nottinghamshire    9765  ...   12091.0      2326.0
19             East Midlands Region   40369  ...   49417.0      9048.0
20                    Staffordshire    8178  ...    9722.0      1544.0
21                     Warwickshire    1491  ...    1799.0       308.0
22                      West Mercia    2784  ...    3073.0       289.0
23                    West Midlands   21059  ...   34243.0     13184.0
24             West Midlands Region   33512  ...   48837.0     15325.0
25                     Bedfordshire    2739  ...    4266.0      1527.0
26                   Cambridgeshire    3364  ...    4033.0       669.0
27                            Essex   12335  ...   14643.0      2308.0
28                    Hertfordshire    4807  ...    6307.0      1500.0
29                          Norfolk    5079  ...    5540.0       461.0
30                          Suffolk    4069  ...    4689.0       620.0
31           East of England Region   32393  ...   39478.0      7085.0
32                  London, City of     932  ...    1682.0       750.0
33              Metropolitan Police   49794  ...  108158.0     58364.0
34                    London Region   50726  ...  109840.0     59114.0
35                        Hampshire   14553  ...   16687.0      2134.0
36                             Kent    4614  ...    5274.0       660.0
37                           Surrey    7217  ...    8769.0      1552.0
38                           Sussex   14578  ...   16906.0      2328.0
39                    Thames Valley   22841  ...   31384.0      8543.0
40                South East Region   63803  ...   79020.0     15217.0
41                Avon and Somerset   11857  ...   14160.0      2303.0
42               Devon and Cornwall   11136  ...   11748.0       612.0
43                           Dorset    5710  ...    6345.0       635.0
44                  Gloucestershire    4131  ...    4774.0       643.0
45                        Wiltshire    4924  ...    5581.0       657.0
46                South West Region   37758  ...   42608.0      4850.0
47                          ENGLAND  385326  ...  511995.0    126669.0
48                      Dyfed-Powys    4633  ...    4777.0       144.0
49                            Gwent    5975  ...    6533.0       558.0
50                      North Wales   13734  ...   14425.0       691.0
51                      South Wales   17026  ...   18953.0      1927.0
52                            WALES   41368  ...   44688.0      3320.0
53                ENGLAND AND WALES  426694  ...  556683.0    129989.0

[54 rows x 8 columns]