<a href="https://colab.research.google.com/github/neerajthandayan/CourseProject/blob/main/Ethnic_Diversity_Calculation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Calculating Ethinic Diversity in Different Police Force Areas

In [1]:
# Importing Libraries

import numpy as np
import pandas as pd

In [2]:
# Loading Data

data = pd.read_csv('/content/drive/MyDrive/Project Data/Arrest_data.csv',header=0)
data.head(2)

             Measure  ...                                              Notes
0  Number of arrests  ...  Excludes Lancashire (both arrest and populatio...
1  Number of arrests  ...  Excludes Lancashire (both arrest and populatio...

[2 rows x 16 columns]

In [3]:
data.columns

Index(['Measure', 'Time', 'Time_type', 'Ethnicity', 'Ethnicity_type', 'Gender',
       'Gender_type', 'Age_Group', 'Age_Group_type', 'Geography',
       'Geography_type', 'Number of arrests',
       'Population by ethnicity, gender, and PFA (based on 2011 Census)',
       'Rate per 1,000 population by ethnicity, gender, and PFA',
       'Proportion of arrests of this ethnicity, in this year, of this gender and in this police force area (excludes unreported)',
       'Notes'],
      dtype='object')

In [4]:
data['Ethnicity_type'].unique()

array(['All', 'ONS 2001 16+1', 'ONS 2001 5+1', 'Unreported'], dtype=object)

In [5]:
# Dropping unnecessary columns 

data.drop(columns=['Measure','Time_type','Rate per 1,000 population by ethnicity, gender, and PFA','Geography_type','Number of arrests','Gender_type','Age_Group_type',
                   'Proportion of arrests of this ethnicity, in this year, of this gender and in this police force area (excludes unreported)',
                   'Notes'], inplace=True)

In [6]:
# Slicing Data  and renaming columns

ndata = data.loc[data['Age_Group'] == "All"]
ndata = ndata.loc[data['Gender'] == "All"]
ndata = ndata.loc[data['Ethnicity_type'] == "ONS 2001 5+1"]
ndata = ndata.loc[data['Time'] == "2018/19"]
ndata = ndata.loc[data['Geography'] != "All"]
newdata = ndata.drop(columns=['Time','Ethnicity_type','Gender','Age_Group']).copy()
newdata.rename(columns={'Population by ethnicity, gender, and PFA (based on 2011 Census)':'Population'},inplace=True)

# Droping NaN Values

newdata.dropna(inplace=True)

# Resetting Index

newdata.reset_index(inplace=True, drop=True)

In [7]:
newdata.loc[newdata['Geography'] == 'London, City of']

Empty DataFrame
Columns: [Ethnicity, Geography, Population]
Index: []

In [8]:
# Cleaning Population Data

c = newdata['Population'].copy()

for i in range(len(c)):
  if type(c.iloc[i]) == str:
    c.iloc[i] = c.iloc[i].replace(',','')
    c.iloc[i]= pd.to_numeric(c.iloc[i])
  else:
    continue

newdata['Population'] = c

In [9]:
# Creating Geography Object

PFA = newdata['Geography'].unique()
PFA

array(['Avon and Somerset', 'Bedfordshire', 'Cambridgeshire', 'Cheshire',
       'Cleveland', 'Cumbria', 'Derbyshire', 'Devon and Cornwall',
       'Dorset', 'Durham', 'Dyfed-Powys', 'Essex', 'Gloucestershire',
       'Greater Manchester', 'Gwent', 'Hampshire', 'Hertfordshire',
       'Humberside', 'Kent', 'Lancashire', 'Leicestershire',
       'Lincolnshire', 'Merseyside', 'Metropolitan Police', 'Norfolk',
       'North Wales', 'North Yorkshire', 'Northamptonshire',
       'Northumbria', 'Nottinghamshire', 'South Wales', 'South Yorkshire',
       'Staffordshire', 'Suffolk', 'Surrey', 'Sussex', 'Thames Valley',
       'Warwickshire', 'West Mercia', 'West Midlands', 'West Yorkshire',
       'Wiltshire'], dtype=object)

## Calculating Ethinic Diversity

In [10]:
# Creating Columns for Relative Population Data and Squared Relative Population

newdata['rel_pop'] = np.NaN
newdata['rl_sd'] = np.NaN

In [11]:
# Populating Relative Population Data and Squared Relative Population

u = []

for i in PFA:
  a = newdata.loc[newdata['Geography'] == i].copy()
  a['rel_pop'] = (a['Population']/a['Population'].sum())*100
  for x in a['rel_pop']:
    u.append(x)

newdata['rel_pop'] = u
newdata['rl_sd'] = np.square(newdata['rel_pop'].copy())

In [12]:
# Making Herfindahl-Hirschman concentration index object

Ethnic_Diversity = []

for q in PFA:
  Ethnic_Diversity.append(10000 - newdata.loc[newdata['Geography'] == q]['rl_sd'].sum())

In [13]:
# Craeting DataFrame for Ethnic Diversity

mydict = {'Geography': PFA, 'Diversity_Score': Ethnic_Diversity}
fdata = pd.DataFrame.from_dict(mydict)
fdata.sort_values(by='Diversity_Score', ascending=False)

              Geography  Diversity_Score
23  Metropolitan Police      5911.741759
39        West Midlands      4702.489206
1          Bedfordshire      3784.505773
20       Leicestershire      3608.433115
40       West Yorkshire      3146.788570
13   Greater Manchester      2875.640579
36        Thames Valley      2757.822798
16        Hertfordshire      2280.058092
29      Nottinghamshire      2074.393456
2        Cambridgeshire      1819.170482
34               Surrey      1796.790922
19           Lancashire      1778.079898
31      South Yorkshire      1760.902666
27     Northamptonshire      1614.603659
37         Warwickshire      1384.665016
18                 Kent      1325.838390
11                Essex      1294.182243
0     Avon and Somerset      1287.903883
6            Derbyshire      1285.076571
15            Hampshire      1275.837488
30          South Wales      1270.463296
35               Sussex      1211.586243
32        Staffordshire      1139.386404
4             Cleveland      1062.143696
22           Merseyside      1060.959485
41            Wiltshire      1056.120933
28          Northumbria      1046.076519
33              Suffolk       930.881496
12      Gloucestershire       888.659304
8                Dorset       770.235229
14                Gwent       756.245489
38          West Mercia       732.118147
17           Humberside       689.547106
24              Norfolk       680.876361
26      North Yorkshire       668.651207
3              Cheshire       604.661049
25          North Wales       492.898232
7    Devon and Cornwall       482.719475
21         Lincolnshire       473.719881
9                Durham       428.309443
10          Dyfed-Powys       398.448848
5               Cumbria       301.106975

In [14]:
# Saving Ethinic Diversity CSV

fdata.to_csv('ethnicdiversity.csv')

## Creating Population Dataset

In [15]:
popdata = newdata.drop(columns=['rel_pop','rl_sd']).copy()

In [16]:
popdata = popdata.pivot(columns='Ethnicity',index='Geography')
popdata.columns = popdata.columns.droplevel(0)
popdata = popdata.reset_index().copy()
popdata.to_csv('popdata.csv')

In [17]:
popdata

Ethnicity            Geography    Asian    Black   Mixed   Other    White
0            Avon and Somerset    33005    30923   28277   15380  1491970
1                 Bedfordshire    81480    29725   18456    8753   476647
2               Cambridgeshire    39535    10174   16029   12572   726531
3                     Cheshire    12794     3264   10423    5230   995998
4                    Cleveland    17419     3156    5762    4434   526456
5                      Cumbria     2913      579    2504    1605   492257
6                   Derbyshire    36871    10090   14351    7281   949845
7           Devon and Cornwall    11694     4106   15645    9467  1627306
8                       Dorset    10694     3208    9507    5995   714637
9                       Durham     5114     1058    4240    3030   605364
10                 Dyfed-Powys     4274      856    3262    2008   504714
11                       Essex    38954    34679   27635   15374  1608308
12             Gloucestershire    10522     5150    8661    3004   569647
13          Greater Manchester   246094    74097   60710   53504  2248123
14                       Gwent    10076     3185    5547    3569   554377
15                   Hampshire    57352    17445   30905   20911  1771378
16               Hertfordshire    64119    31401   27497   15550   977495
17                  Humberside    12191     4499    8185    7493   885279
18                        Kent    54186    22879   27283   15636  1607681
19                  Lancashire   108784     5377   16300   10397  1320035
20              Leicestershire   155740    24623   20520   19110   797704
21                Lincolnshire     5579     2561    6190    2839   696484
22                  Merseyside    18851    14552   20954   21529  1305303
23         Metropolitan Police  1386619  1088447  404990  404874  4881636
24                     Norfolk     9809     4609   10027    5425   828018
25                 North Wales     6336     1497    4950    4450   670704
26             North Yorkshire     9914     3618    7456    6233   769206
27            Northamptonshire    22581    16923   14182    5444   632822
28                 Northumbria    37782     9006   12447   17871  1343747
29             Nottinghamshire    48248    27287   30981   15465   969501
30                 South Wales    35804    12738   17762   18889  1198458
31             South Yorkshire    54660    25752   20791   24745  1217653
32               Staffordshire    35148     8551   14095    7376  1032327
33                     Suffolk    10972     6854   12472    4670   693195
34                      Surrey    54037    12430   23554   18687  1023682
35                      Sussex    40865    14246   30036   16352  1505433
36               Thames Valley   192541    69013   55986   32586  1919646
37                Warwickshire    22747     4443    7949    4647   505688
38                 West Mercia    21715     5062   13466    5657  1176516
39               West Midlands   493551   164069   96204   63498  1919138
40              West Yorkshire   280764    46476   48126   30874  1819818
41                   Wiltshire    17379     6089    9794    4006   642869