<a href="https://colab.research.google.com/github/neerajthandayan/CourseProject/blob/main/Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Importing Libraries

import numpy as np
import pandas as pd

In [3]:
# Loading Data

data = pd.read_csv('/content/drive/MyDrive/Project Data/Arrest_data.csv',header=0)

In [7]:
data.columns

Index(['Measure', 'Time', 'Time_type', 'Ethnicity', 'Ethnicity_type', 'Gender',
       'Gender_type', 'Age_Group', 'Age_Group_type', 'Geography',
       'Geography_type', 'Number of arrests',
       'Population by ethnicity, gender, and PFA (based on 2011 Census)',
       'Rate per 1,000 population by ethnicity, gender, and PFA',
       'Proportion of arrests of this ethnicity, in this year, of this gender and in this police force area (excludes unreported)',
       'Notes'],
      dtype='object')

In [54]:
x = data.loc[data['Time'] == '2018/19']
x = x.loc[x['Age_Group'] == 'All']
x = x.loc[x['Ethnicity'] != 'All']
x = x.loc[x['Ethnicity_type'] == 'ONS 2001 16+1']
x = x.loc[x['Geography'] != 'All']
x = x.loc[x['Gender'] == 'All']
x = x[['Time','Ethnicity','Geography','Population by ethnicity, gender, and PFA (based on 2011 Census)']]
x.loc[x['Geography'] == 'Avon and Somerset']

         Time  ... Population by ethnicity, gender, and PFA (based on 2011 Census)
9182  2018/19  ...                                              9,410
9185  2018/19  ...                                              7,504
9188  2018/19  ...                                              6,404
9191  2018/19  ...                                              5,936
9194  2018/19  ...                                             56,586
9200  2018/19  ...                                              3,302
9206  2018/19  ...                                             14,561
9209  2018/19  ...                                              8,858
9212  2018/19  ...                                              8,976
9215  2018/19  ...                                             12,248
9221  2018/19  ...                                              7,477
9224  2018/19  ...                                              3,127
9227  2018/19  ...                                             11,737
9233  2018/19  ...                                              8,045
9242  2018/19  ...                                          1,425,794
9245  2018/19  ...                                              9,590

[16 rows x 4 columns]

In [55]:
x = data.loc[data['Time'] == '2017/18']
x = x.loc[x['Age_Group'] == 'All']
x = x.loc[x['Ethnicity'] != 'All']
x = x.loc[x['Ethnicity_type'] == 'ONS 2001 16+1']
x = x.loc[x['Geography'] != 'All']
x = x.loc[x['Gender'] == 'All']
x = x[['Time','Ethnicity','Geography','Population by ethnicity, gender, and PFA (based on 2011 Census)']]
x.loc[x['Geography'] == 'Avon and Somerset']

          Time  ... Population by ethnicity, gender, and PFA (based on 2011 Census)
27398  2017/18  ...                                              9,410
27401  2017/18  ...                                              7,504
27404  2017/18  ...                                              6,404
27407  2017/18  ...                                              5,936
27410  2017/18  ...                                             56,586
27416  2017/18  ...                                              3,302
27422  2017/18  ...                                             14,561
27425  2017/18  ...                                              8,858
27428  2017/18  ...                                              8,976
27431  2017/18  ...                                             12,248
27437  2017/18  ...                                              7,477
27440  2017/18  ...                                              3,127
27443  2017/18  ...                                             11,737
27449  2017/18  ...                                              8,045
27458  2017/18  ...                                          1,425,794
27461  2017/18  ...                                              9,590

[16 rows x 4 columns]