<a href="https://colab.research.google.com/github/neerajthandayan/CourseProject/blob/main/Notebooks/Checking_Correlation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Libraries

import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from plotnine import *

In [2]:
# Fetching Data

ed = pd.read_csv('https://raw.githubusercontent.com/neerajthandayan/CourseProject/main/Data/ethnicdiversity.csv', index_col=0)
pdiv = pd.read_csv('https://raw.githubusercontent.com/neerajthandayan/CourseProject/main/Data/police_diversity.csv', index_col=0)
ehcr = pd.read_csv('https://raw.githubusercontent.com/neerajthandayan/CourseProject/main/Data/ethnichatecrime_rate.csv', index_col=0)
bias = pd.read_csv('https://raw.githubusercontent.com/neerajthandayan/CourseProject/main/Data/Police_Bias.csv', index_col=0)

In [3]:
mrg = ed.merge(pdiv.merge(ehcr.merge(bias, on='Geography'), on='Geography'), on='Geography')
scaler = StandardScaler()
ms = pd.DataFrame(scaler.fit_transform(mrg.iloc[:,1:]))
mrg_scl = pd.concat([mrg['Geography'],ms], axis=1)
mrg_scl.columns = mrg.columns
mrg_scl.corr()

                 Diversity_Score  PD_Diversity   RI_Rate      Bias
Diversity_Score         1.000000      0.946550  0.437188 -0.180331
PD_Diversity            0.946550      1.000000  0.431857 -0.203567
RI_Rate                 0.437188      0.431857  1.000000 -0.045852
Bias                   -0.180331     -0.203567 -0.045852  1.000000

In [4]:
mrg_scl

              Geography  Diversity_Score  PD_Diversity   RI_Rate      Bias
0          Bedfordshire         1.940406      1.510866 -0.107157 -0.367604
1        Cambridgeshire         0.313615     -0.260857 -1.039629 -0.307235
2              Cheshire        -0.897730     -0.959511 -1.176941 -0.086797
3             Cleveland        -0.414823     -0.579611  0.401420 -0.533469
4               Cumbria        -1.227497     -0.977774 -0.847318 -0.314055
5            Derbyshire        -0.192314      0.162158  0.689345 -0.318060
6                Dorset        -0.723578     -0.885386  0.210323  5.726699
7                Durham        -1.088044     -0.566539 -1.110732 -0.444639
8           Dyfed-Powys        -1.120474     -1.201941 -1.218319 -0.387302
9                 Essex        -0.196440     -0.233495 -0.940076 -0.296602
10      Gloucestershire        -0.600369     -0.563281 -0.128951  0.372894
11   Greater Manchester         1.240956      0.863447  0.615035 -0.390154
12                Gwent        -0.737252     -0.796537 -0.979742 -0.062188
13            Hampshire        -0.209096     -0.236051 -0.138181  0.053039
14        Hertfordshire         0.713738      0.455207  1.220194 -0.499004
15           Humberside        -0.808763     -1.059862 -0.952358 -0.479259
16                 Kent        -0.160405      0.069656  0.249007 -0.243987
17           Lancashire         0.351812      0.337244  1.191017 -0.267744
18       Leicestershire         1.947043      1.885163  1.625258 -0.110723
19         Lincolnshire        -1.039039     -0.706115 -1.295186 -0.340457
20           Merseyside        -0.428693      0.242625  0.311204 -0.479155
21  Metropolitan Police         2.717464      3.190002 -0.076679 -0.372064
22              Norfolk        -0.817958     -0.778601  0.514890  0.317098
23          North Wales        -1.018173     -1.108413 -0.913318 -0.493562
24      North Yorkshire        -0.830844     -0.936486 -1.547631 -0.390574
25     Northamptonshire         0.112684      0.461860  1.035212 -0.459951
26          Northumbria        -0.436282     -0.726982  0.164315 -0.530006
27      Nottinghamshire         0.524982      0.408280  0.724552  0.368016
28          South Wales        -0.217059     -0.363408  2.142337 -0.244603
29      South Yorkshire         0.248333      0.092840  1.820094 -0.334286
30        Staffordshire        -0.338162     -0.370935  1.692815 -0.237617
31              Suffolk        -0.558033     -0.393912 -1.252378  0.187379
32               Surrey         0.292265      0.408387  0.835381  0.222033
33               Sussex        -0.274487     -0.472701 -1.207298  0.588972
34        Thames Valley         1.140606      1.077214  0.589228 -0.336245
35         Warwickshire        -0.089450      0.991144 -0.135577  0.221721
36          West Mercia        -0.761339     -0.598200 -0.268487  1.036710
37        West Midlands         2.510655      2.537548  0.120012 -0.390867
38       West Yorkshire         1.558649      1.023699  0.700219 -0.486793
39            Wiltshire        -0.426902     -0.940741 -1.515903  1.110438

## Region-wise Check for Correlation

#### Northeast Region

In [5]:
ner = mrg.loc[mrg['Geography'].isin(['Durham',
                                     'Cleveland',
                                     'Northumbria'])].copy()
scaler_ner = StandardScaler()
ner.iloc[:,1:] = scaler_ner.fit_transform(ner.iloc[:,1:])
ner.corr()

                 Diversity_Score  PD_Diversity   RI_Rate      Bias
Diversity_Score         1.000000     -0.538772  0.993017 -0.999980
PD_Diversity           -0.538772      1.000000 -0.435624  0.533393
RI_Rate                 0.993017     -0.435624  1.000000 -0.993748
Bias                   -0.999980      0.533393 -0.993748  1.000000

#### Northwest Region

In [6]:
nwr = mrg.loc[mrg['Geography'].isin(['Cheshire',
                                     'Cumbria',
                                     'Greater Manchester',
                                     'Lancashire',
                                     'Merseyside'])].copy()
scaler_nwr = StandardScaler()
nwr.iloc[:,1:] = scaler_nwr.fit_transform(nwr.iloc[:,1:])
nwr.corr()

                 Diversity_Score  PD_Diversity   RI_Rate      Bias
Diversity_Score         1.000000      0.923952  0.793774 -0.349594
PD_Diversity            0.923952      1.000000  0.898253 -0.625343
RI_Rate                 0.793774      0.898253  1.000000 -0.528811
Bias                   -0.349594     -0.625343 -0.528811  1.000000

#### Yorkshire and the Humber Region

In [7]:
york = mrg.loc[mrg['Geography'].isin(['Humberside',
                                      'North Yorkshire',
                                      'South Yorkshire',
                                      'West Yorkshire'])].copy()
scaler_york = StandardScaler()
york.iloc[:,1:] = scaler_york.fit_transform(york.iloc[:,1:])
york.corr()

                 Diversity_Score  PD_Diversity   RI_Rate      Bias
Diversity_Score         1.000000      0.993891  0.689982 -0.236778
PD_Diversity            0.993891      1.000000  0.742483 -0.128180
RI_Rate                 0.689982      0.742483  1.000000  0.354741
Bias                   -0.236778     -0.128180  0.354741  1.000000

#### East Midlands Region

In [8]:
emr = mrg.loc[mrg['Geography'].isin(['Derbyshire',
                                     'Leicestershire',
                                     'Lincolnshire',
                                     'Northamptonshire',
                                     'Nottinghamshire'])].copy()
scaler_emr = StandardScaler()
emr.iloc[:,1:] = scaler_emr.fit_transform(emr.iloc[:,1:])
emr.corr()

                 Diversity_Score  PD_Diversity   RI_Rate      Bias
Diversity_Score         1.000000      0.985556  0.852127  0.399105
PD_Diversity            0.985556      1.000000  0.885068  0.244797
RI_Rate                 0.852127      0.885068  1.000000  0.215892
Bias                    0.399105      0.244797  0.215892  1.000000

#### West Midlands Region

In [9]:
wmr = mrg.loc[mrg['Geography'].isin(['Staffordshire',
                                     'Warwickshire',
                                     'West Mercia',
                                     'West Midlands'])].copy()
scaler_wmr = StandardScaler()
wmr.iloc[:,1:] = scaler_wmr.fit_transform(wmr.iloc[:,1:])
wmr.corr()

                 Diversity_Score  PD_Diversity   RI_Rate      Bias
Diversity_Score         1.000000      0.936957 -0.129007 -0.673778
PD_Diversity            0.936957      1.000000 -0.304088 -0.613317
RI_Rate                -0.129007     -0.304088  1.000000 -0.560514
Bias                   -0.673778     -0.613317 -0.560514  1.000000

#### East of England Region

In [10]:
eer = mrg.loc[mrg['Geography'].isin(['Bedfordshire',
                                     'Cambridgeshire',
                                     'Essex',
                                     'Hertfordshire',
                                     'Norfolk',
                                     'Suffolk'])].copy()
scaler_eer = StandardScaler()
eer.iloc[:,1:] = scaler_eer.fit_transform(eer.iloc[:,1:])
eer.corr()

                 Diversity_Score  PD_Diversity   RI_Rate      Bias
Diversity_Score         1.000000      0.971406  0.236003 -0.749136
PD_Diversity            0.971406      1.000000  0.261270 -0.668374
RI_Rate                 0.236003      0.261270  1.000000 -0.184432
Bias                   -0.749136     -0.668374 -0.184432  1.000000

#### London Region

In [11]:
lon = mrg.loc[mrg['Geography'].isin(['Metropolitan Police'])].copy()
lon

              Geography  Diversity_Score  PD_Diversity   RI_Rate     Bias
21  Metropolitan Police         0.750924      0.339262  0.011435  0.57625

#### South East Region

In [12]:
ser = mrg.loc[mrg['Geography'].isin(['Hampshire',
                                     'Kent',
                                     'Surrey',
                                     'Sussex',
                                     'Thames Valley'])].copy()
scaler_ser = StandardScaler()
ser.iloc[:,1:] = scaler_ser.fit_transform(ser.iloc[:,1:])
ser.corr()

                 Diversity_Score  PD_Diversity   RI_Rate      Bias
Diversity_Score         1.000000      0.962027  0.624070 -0.562266
PD_Diversity            0.962027      1.000000  0.794600 -0.694926
RI_Rate                 0.624070      0.794600  1.000000 -0.679312
Bias                   -0.562266     -0.694926 -0.679312  1.000000

#### South West Region

In [13]:
swr = mrg.loc[mrg['Geography'].isin(['Avon and Somerset',
                                     'Devon and Cornwall',
                                     'Dorset',
                                     'Gloucestershire',
                                     'Wiltshire'])].copy()
scaler_swr = StandardScaler()
swr.iloc[:,1:] = scaler_swr.fit_transform(swr.iloc[:,1:])
swr.corr()

                 Diversity_Score  PD_Diversity   RI_Rate      Bias
Diversity_Score         1.000000     -0.231577 -0.971447 -0.732692
PD_Diversity           -0.231577      1.000000  0.455773 -0.492386
RI_Rate                -0.971447      0.455773  1.000000  0.550303
Bias                   -0.732692     -0.492386  0.550303  1.000000

#### Country of Wales

In [14]:
wales = mrg.loc[mrg['Geography'].isin(['Dyfed-Powys',
                                       'Gwent',
                                       'North Wales',
                                       'South Wales'])].copy()
scaler_wales = StandardScaler()
wales.iloc[:,1:] = scaler_wales.fit_transform(wales.iloc[:,1:])
wales.corr()

                 Diversity_Score  PD_Diversity   RI_Rate      Bias
Diversity_Score         1.000000      0.997806  0.931147  0.516401
PD_Diversity            0.997806      1.000000  0.905040  0.569241
RI_Rate                 0.931147      0.905040  1.000000  0.192224
Bias                    0.516401      0.569241  0.192224  1.000000