<a href="https://colab.research.google.com/github/neerajthandayan/CourseProject/blob/main/Checking_Correlation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Libraries

import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from plotnine import *

In [2]:
# Fetching Data

ed = pd.read_csv('https://raw.githubusercontent.com/neerajthandayan/CourseProject/main/ethnicdiversity.csv', index_col=0)
pdiv = pd.read_csv('https://raw.githubusercontent.com/neerajthandayan/CourseProject/main/police_diversity.csv', index_col=0)
ehcr = pd.read_csv('https://raw.githubusercontent.com/neerajthandayan/CourseProject/main/ethnichatecrime_rate.csv', index_col=0)
bias = pd.read_csv('https://raw.githubusercontent.com/neerajthandayan/CourseProject/main/Police_Bias.csv', index_col=0)

In [3]:
mrg = ed.merge(pdiv.merge(ehcr.merge(bias, on='Geography'), on='Geography'), on='Geography')
scaler = StandardScaler()
ms = pd.DataFrame(scaler.fit_transform(mrg.iloc[:,1:]))
mrg_scl = pd.concat([mrg['Geography'],ms], axis=1)
mrg_scl.columns = mrg.columns
mrg_scl.corr()

                 Diversity_Score  PD_Diversity  EHC_Rate      Bias
Diversity_Score         1.000000      0.943600  0.597982 -0.177582
PD_Diversity            0.943600      1.000000  0.622691 -0.202722
EHC_Rate                0.597982      0.622691  1.000000 -0.232556
Bias                   -0.177582     -0.202722 -0.232556  1.000000

In [4]:
mrg_scl

              Geography  Diversity_Score  PD_Diversity  EHC_Rate      Bias
0     Avon and Somerset        -0.176190     -0.578563  1.234721 -0.002436
1          Bedfordshire         1.992068      1.525730 -0.441800 -0.376232
2        Cambridgeshire         0.346851     -0.325414 -0.490996 -0.314373
3              Cheshire        -0.878215     -0.946132 -1.223078 -0.088492
4             Cleveland        -0.389838     -0.586326 -0.359977 -0.546193
5               Cumbria        -1.211717     -0.905432  0.034652 -0.321362
6            Derbyshire        -0.164809      0.383990 -0.322027 -0.325465
7    Devon and Cornwall        -1.011154     -0.900740  0.055635 -0.015503
8                Dorset        -0.702091     -0.911669 -1.153042  5.868551
9                Durham        -1.070685     -0.554410 -0.359523 -0.455169
10          Dyfed-Powys        -1.103482     -1.162617 -1.563247 -0.396417
11                Essex        -0.168981     -0.155989 -0.317186 -0.303477
12      Gloucestershire        -0.577485     -0.450624 -0.581699  0.382550
13   Greater Manchester         1.284696      0.907558  2.787530 -0.399339
14                Gwent        -0.715919     -0.812273 -1.207654 -0.063275
15            Hampshire        -0.181780     -0.198553 -0.208758  0.054798
16        Hertfordshire         0.751506      0.481264  0.963190 -0.510877
17           Humberside        -0.788241     -1.083255 -0.836129 -0.490644
18                 Kent        -0.132539      0.114983 -0.200728 -0.249563
19           Lancashire         0.385480      0.419030  0.129127 -0.273907
20       Leicestershire         1.998781      1.992302  2.332390 -0.113008
21         Lincolnshire        -1.021125     -0.732374 -1.135956 -0.348415
22           Merseyside        -0.403865      0.255640  1.461127 -0.490537
23  Metropolitan Police         2.777928      3.145221  0.984476 -0.380803
24              Norfolk        -0.797540     -0.790347  0.253736  0.325376
25          North Wales        -1.000022     -1.131930  0.162478 -0.505301
26      North Yorkshire        -0.810571     -0.954084 -1.670040 -0.399770
27     Northamptonshire         0.143644      0.632774  0.509936 -0.470859
28          Northumbria        -0.411540     -0.708152 -0.171939 -0.542644
29      Nottinghamshire         0.560612      0.522487 -0.298599  0.377551
30          South Wales        -0.189834     -0.330760  0.376427 -0.250194
31      South Yorkshire         0.280829      0.130997 -1.376154 -0.342091
32        Staffordshire        -0.312308     -0.364038  0.745103 -0.243036
33              Suffolk        -0.534670     -0.302557  0.133249  0.192454
34               Surrey         0.325259      0.583529  0.443602  0.227964
35               Sussex        -0.247912     -0.447573 -0.921982  0.603963
36        Thames Valley         1.183209      1.099737  0.300865 -0.344099
37         Warwickshire        -0.060780      0.934439 -0.045979  0.227644
38          West Mercia        -0.740279     -0.628152  0.100654  1.062757
39        West Midlands         2.568777      2.623322  2.070086 -0.400070
40       West Yorkshire         1.605987      1.013578  0.866344 -0.498365
41            Wiltshire        -0.402054     -0.804619 -1.058838  1.138305

## Region-wise Check for Correlation

#### Northeast Region

In [5]:
ner = mrg.loc[mrg['Geography'].isin(['Durham',
                                     'Cleveland',
                                     'Northumbria'])].copy()
scaler_ner = StandardScaler()
ner.iloc[:,1:] = scaler_ner.fit_transform(ner.iloc[:,1:])
ner.corr()

                 Diversity_Score  PD_Diversity  EHC_Rate      Bias
Diversity_Score         1.000000     -0.639259  0.473677 -0.999980
PD_Diversity           -0.639259      1.000000 -0.980052  0.634346
EHC_Rate                0.473677     -0.980052  1.000000 -0.468056
Bias                   -0.999980      0.634346 -0.468056  1.000000

#### Northwest Region

In [6]:
nwr = mrg.loc[mrg['Geography'].isin(['Cheshire',
                                     'Cumbria',
                                     'Greater Manchester',
                                     'Lancashire',
                                     'Merseyside'])].copy()
scaler_nwr = StandardScaler()
nwr.iloc[:,1:] = scaler_nwr.fit_transform(nwr.iloc[:,1:])
nwr.corr()

                 Diversity_Score  PD_Diversity  EHC_Rate      Bias
Diversity_Score         1.000000      0.926892  0.744400 -0.349594
PD_Diversity            0.926892      1.000000  0.835312 -0.623458
EHC_Rate                0.744400      0.835312  1.000000 -0.827343
Bias                   -0.349594     -0.623458 -0.827343  1.000000

#### Yorkshire and the Humber Region

In [7]:
york = mrg.loc[mrg['Geography'].isin(['Humberside',
                                      'North Yorkshire',
                                      'South Yorkshire',
                                      'West Yorkshire'])].copy()
scaler_york = StandardScaler()
york.iloc[:,1:] = scaler_york.fit_transform(york.iloc[:,1:])
york.corr()

                 Diversity_Score  PD_Diversity  EHC_Rate      Bias
Diversity_Score         1.000000      0.990997  0.832214 -0.236778
PD_Diversity            0.990997      1.000000  0.750741 -0.104764
EHC_Rate                0.832214      0.750741  1.000000 -0.735533
Bias                   -0.236778     -0.104764 -0.735533  1.000000

#### East Midlands Region

In [8]:
emr = mrg.loc[mrg['Geography'].isin(['Derbyshire',
                                     'Leicestershire',
                                     'Lincolnshire',
                                     'Northamptonshire',
                                     'Nottinghamshire'])].copy()
scaler_emr = StandardScaler()
emr.iloc[:,1:] = scaler_emr.fit_transform(emr.iloc[:,1:])
emr.corr()

                 Diversity_Score  PD_Diversity  EHC_Rate      Bias
Diversity_Score         1.000000      0.974923  0.930561  0.399105
PD_Diversity            0.974923      1.000000  0.961510  0.228600
EHC_Rate                0.930561      0.961510  1.000000  0.042617
Bias                    0.399105      0.228600  0.042617  1.000000

#### West Midlands Region

In [9]:
wmr = mrg.loc[mrg['Geography'].isin(['Staffordshire',
                                     'Warwickshire',
                                     'West Mercia',
                                     'West Midlands'])].copy()
scaler_wmr = StandardScaler()
wmr.iloc[:,1:] = scaler_wmr.fit_transform(wmr.iloc[:,1:])
wmr.corr()

                 Diversity_Score  PD_Diversity  EHC_Rate      Bias
Diversity_Score         1.000000      0.947560  0.916139 -0.673778
PD_Diversity            0.947560      1.000000  0.746047 -0.624436
EHC_Rate                0.916139      0.746047  1.000000 -0.723868
Bias                   -0.673778     -0.624436 -0.723868  1.000000

#### East of England Region

In [10]:
eer = mrg.loc[mrg['Geography'].isin(['Bedfordshire',
                                     'Cambridgeshire',
                                     'Essex',
                                     'Hertfordshire',
                                     'Norfolk',
                                     'Suffolk'])].copy()
scaler_eer = StandardScaler()
eer.iloc[:,1:] = scaler_eer.fit_transform(eer.iloc[:,1:])
eer.corr()

                 Diversity_Score  PD_Diversity  EHC_Rate      Bias
Diversity_Score         1.000000      0.954525 -0.202521 -0.749136
PD_Diversity            0.954525      1.000000 -0.109196 -0.657051
EHC_Rate               -0.202521     -0.109196  1.000000  0.052511
Bias                   -0.749136     -0.657051  0.052511  1.000000

#### London Region

In [11]:
lon = mrg.loc[mrg['Geography'].isin(['Metropolitan Police'])].copy()
lon

              Geography  Diversity_Score  PD_Diversity  EHC_Rate     Bias
23  Metropolitan Police         0.750924      0.324189  0.010545  0.57625

#### South East Region

In [12]:
ser = mrg.loc[mrg['Geography'].isin(['Hampshire',
                                     'Kent',
                                     'Surrey',
                                     'Sussex',
                                     'Thames Valley'])].copy()
scaler_ser = StandardScaler()
ser.iloc[:,1:] = scaler_ser.fit_transform(ser.iloc[:,1:])
ser.corr()

                 Diversity_Score  PD_Diversity  EHC_Rate      Bias
Diversity_Score         1.000000      0.944539  0.702456 -0.562266
PD_Diversity            0.944539      1.000000  0.868522 -0.657714
EHC_Rate                0.702456      0.868522  1.000000 -0.593047
Bias                   -0.562266     -0.657714 -0.593047  1.000000

#### South West Region

In [13]:
swr = mrg.loc[mrg['Geography'].isin(['Avon and Somerset',
                                     'Devon and Cornwall',
                                     'Dorset',
                                     'Gloucestershire',
                                     'Wiltshire'])].copy()
scaler_swr = StandardScaler()
swr.iloc[:,1:] = scaler_swr.fit_transform(swr.iloc[:,1:])
swr.corr()

                 Diversity_Score  PD_Diversity  EHC_Rate      Bias
Diversity_Score         1.000000      0.558934  0.351783 -0.175856
PD_Diversity            0.558934      1.000000  0.377219 -0.509911
EHC_Rate                0.351783      0.377219  1.000000 -0.608421
Bias                   -0.175856     -0.509911 -0.608421  1.000000

#### Country of Wales

In [14]:
wales = mrg.loc[mrg['Geography'].isin(['Dyfed-Powys',
                                       'Gwent',
                                       'North Wales',
                                       'South Wales'])].copy()
scaler_wales = StandardScaler()
wales.iloc[:,1:] = scaler_wales.fit_transform(wales.iloc[:,1:])
wales.corr()

                 Diversity_Score  PD_Diversity  EHC_Rate      Bias
Diversity_Score         1.000000      0.997247  0.567872  0.516401
PD_Diversity            0.997247      1.000000  0.508362  0.552898
EHC_Rate                0.567872      0.508362  1.000000 -0.283996
Bias                    0.516401      0.552898 -0.283996  1.000000